@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/*css root*/
:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #00555A;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
    --magic-color: rgb(126, 231, 135);
}

*::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: 5s;
}

/*makes the header stick to a fixed postion of the page, even when scrolled*/
.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a {
    color: var(--text-color);
}

/*this approach is to add a border bottom to my home-page link named class= active*/
.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

/*when scrolled my border bottom should change color*/
.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

.fa-moon {
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

.header.sticky .fa-moon {
    color: var(--text-color);
    opacity: .9;
}

.fa-bars {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/*homepage section desgin styling*/
section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1 {
    font-size: 5.2rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content .track{
    font-size: 1.9rem;
}

@keyframes slideIn {
    0% {
      transform: translateX(-20%);
      opacity: 0;
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50%);
    }
  }
  
  .home-content .track .slidein {
    display: inline-block;
    white-space: nowrap;
    color: #00555A;
    font-weight: 600;
    animation: slideIn 5s linear infinite;
  }

.home-content p {
    font-size: 1.6rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    /* background: #00555A; */
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}
@keyframes professionRotate {

    0%,
    20% {
        transform: rotate(0deg);
    }

    25%,
    45% {
        transform: rotate(-90deg);
    }

    50%,
    70% {
        transform: rotate(-180deg);
    }

    75%,
    95% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.home .profession-box .profession{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(3) {
    padding-bottom: 20px;
}

.home .profession i {
    font-size: 3.8rem;
}

.home .profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle{
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    z-index: -1;
}

.home .profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50vh solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 50vh solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img{
    position: absolute;
    bottom: 0;
    right: 40px;
    pointer-events: none;
    max-width: 480px;
    max-height: 100vh;
}

span {
    color: var(--main-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img{
    width: 20vw;
}

.heading {
    font-size: 3.5rem;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2rem;
    animation-name: slidein;
    animation-duration: 3s;
}

@keyframes slidein {
    from {
      margin-left: 50%;
      /* width: 300%; */
    }
    to {
      margin-left: 0%;
      /* widith: 100%; */
    }
  }

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.more-info{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 3rem;
}

.more-info .languages{
    /* background: #00555A; */
    width: 20vw;
    line-height: 0px;
}

.languages .lang{
    font-size: 1.8rem;
    line-height: 20px;
    color: var(--main-color);
    font-weight: 500;
    /* line-height: 0px; */
}

.lang::after{
    content: "";
    display: block;
    height: 1px;
    background: var(--text-color);
    margin: 10px 0;
    opacity: .5;
}

.eng::after {
    content: "";
    display: block;
    height: 1px;
    background: var(--text-color);
    margin: 30px 0;
    opacity: .5;
}

.languages p{
    font-size: 1.8rem;
    font-weight: 700;
/*i want to update the color later*/
}

.more-info .education{
    width: 520px;
    height: 235px;
    display: flex;
    gap: 2rem;
    justify-content: center;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.education:hover {
transition: all 3s ease-in-out;
background:var(--magic-color);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.education .school-logo {
    background: var(--bg-color);
    width: 15rem;
    height: 15rem;
    border: 2px solid var(--main-color);
    border-radius: 13.5px;
    margin-top: 8%;
}

.school-logo:hover{
    transition: all 1s ease-in-out;
    border-radius: 50%;
}

.school-logo img{
    width: 14rem;
    height: 14rem;
    margin-left: 3px;
    margin-top: 3px;
    filter:drop-shadow(16px, 7px 8px blue);
    /* margin: auto; */
}

.school-logo img:hover{
    transition: all 1s ease-in-out;
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    margin-left: 7px;
    margin-top: 6px;
}

.education .school-info {
    width: 270px;
    height: 100px;
    margin-top: 8%;
    /* line-height: 0; */
}

.school-info .diploma{
    line-height: 0px;
    margin-bottom: 0%;
    font-size: 1.8rem;
    color:var(--main-color);
    font-weight: 600;
}

.school-info p{
    font-size: 1.6rem;
    font-weight: 400;
}

/*skills section goes here*/
.skills {
    /* display: flex;
    flex-direction: column; */
    /* background: #0b061f; */
}

.skills .skills-container {
    display: flex;
    flex-direction: column;
}

.skills-container .languages{  
    margin-top: 50px; 
    background: #fdfdfd;
    width: 100%;
    height: 28rem;
    box-shadow: 0 4px 30px 0 var(--main-color);
}

.languages h2{
    font-size: 4rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    margin: 2.5rem 3rem;
}

.languages h2::after{
    content: "";
    display: block;
    height: 1px;
    background: var(--text-color);
    margin: 22px 0;
    opacity: .5;
}

.languages .lang-logo{
    display: flex;
    justify-content: left;
    gap: 10rem;
    margin-left: 6rem;
}

.lang-logo img{
    width: 9rem;
    height: 9rem;
}

.lang-logo .javascript, .typescript, 
.html5, .css3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lang-logo p{
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    margin-top: 12px;
    font-size: 2rem;

}

.skills-container .frameworks{  
    margin-top: 50px; 
    background: #fdfdfd;
    width: 100%;
    height: 28rem;
    box-shadow: 0 4px 30px 0 var(--main-color);
}

.frameworks h2{
    font-size: 4rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    margin: 2.5rem 3rem;
}

.frameworks h2::after{
    content: "";
    display: block;
    height: 1px;
    background: var(--text-color);
    margin: 22px 0;
    opacity: .5;
}

.frameworks .frame-logo{
    display: flex;
    justify-content: left;
    gap: 10rem;
    margin-left: 6rem;
}

.frame-logo img{
    width: 9rem;
    height: 9rem;
}

.frame-logo .react, .vue, 
.angular, .bootstrap, .tailwind {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frame-logo p{
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    margin-top: 12px;
    font-size: 2rem;
}

.skills-container .tools{  
    margin-top: 50px; 
    background: #fdfdfd;
    width: 100%;
    height: 28rem;
    box-shadow: 0 4px 30px 0 var(--main-color);
}

.tools h2{
    font-size: 4rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    margin: 2.5rem 3rem;
}

.tools h2::after{
    content: "";
    display: block;
    height: 1px;
    background: var(--text-color);
    margin: 22px 0;
    opacity: .5;
}

.tools .tools-logo{
    display: flex;
    justify-content: left;
    gap: 8rem;
    margin-left: 6rem;
}

.tools-logo img{
    width: 9rem;
    height: 9rem;
}

.tools-logo .git, .github, 
.vscode, .codesandbox, .figma, .canva {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tools-logo p{
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    margin-top: 12px;
    font-size: 2rem;
}

